
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>MVC Kamp - Kategori Listesi</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklamasını yaz</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Eğitim</td>
        <td>Açıklamasını yaz</td>
        <td>True</td>
    </tr>
</table>