@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni İçerik Girişi</h1>

<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group" style="margin-left: 10px;">
        <input type="hidden" name="HeadingID" value="@ViewBag.deger"/>
        @Html.Label("İçeriğiniz : ")
        @Html.TextAreaFor(x => x.ContentValue, 4, 30, new {@class = "form-control"})
        <div style="color: red">
            @Html.ValidationMessageFor(x => x.ContentValue)
        </div>

        <br/>

        <button class="btn btn-success">İçeriği sisteme ekle</button>
    </div>
}




